html{
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: arial;
  line-height: 1.500;
  letter-spacing: 0.027em;
  background-image: url('./pictures/musique/435123-2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

@media (min-resolution: 2dppx){
  html, button{
    font-size: 26px;
    font-family: arial;
    line-height: 42px;
    letter-spacing: 0.027em;

  }
}

body{
  width: 80%;
  min-width: 600px;
  background-color: #EEEEEE20;
}

button{
  display: none;
}

h1 img{
  height: 107px;
  position: relative;
  top: 45px;
}

h2, h4{
  color: #0460a4;
}

h3{
  margin-top: 6em;
}

img{
  max-width: 100%;
}

nav{
  margin-top: 4em;
  font-size: 20px;
}

nav h2{
  font-size: 24px;
}

nav ul{
  animation: ease-in 2s;
  padding: 0;
}

nav li{
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 40px;
  color: #0460a4;
  padding: 15px;
}

nav li:hover{
  text-decoration: underline;
}

.ecole, .onglet, .section{
  display: none;
}

.ecole_active, .onglet_actif, .section_active{
  display: block;
}

.section ul{
  list-style-image: url('./pictures/musique/Music_dynamic_forte.png');
}

.contenu li{
  margin-top: 2em;
  margin-bottom: 2em;
}

.placeHolder{
  display: block;
  width: 560px;
}

.placeHolderForm{
  display: block;
}

.columnTwo{
  column-count: 2; 
}

.flex-col-two{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-row{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 1250px){
  .flex-col-two{
    flex-flow: column-reverse;
  }
  .flex-col-two-norevers{
    flex-flow: column;
  }
}


.center{
  display: flex;
  width: 100%;
  justify-content: center;
}

.contact ,.archive{
  position: absolute;
  top: 0;
  padding: 15px;
  background-color: #66c9f3;
}
.contact{
  right: 0;
  border-radius: 0 0 0 37px;
}

.contact .infocontact{
  height: 0;
  width: 0;
  overflow: hidden;
  transition: height 0.3s, width 0.3s;
  transition-timing-function: cubic-bezier(.17,.84,.44,1);
}

.infocontact *{
  overflow: hidden;
}

.contact:hover .infocontact{
  height: 304px;
  width: 407px;
  transition: height 0.3s, width 0.3s;
  transition-timing-function: cubic-bezier(.17,.84,.44,1);
}

.width-half{
  width: 50%;
}

@media (min-resolution: 2dppx) or (max-width: 1000px){
  .contact:hover{
    /*padding: 15px 0;*/
  }
  .contact:hover .infocontact{
    width: 570px;
    height: 553px;
  }
  .width-half{
    width: 100%;
  }
}

.archive{
  left: 0;
  border-radius: 0 0 37px 0;
  text-decoration: none;
}

.archive a, .archive a:visited{
  text-decoration: none;
  color: black;
}

.credits{
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 0.7em;
}

.spacer{
  display: block;
  height: 5em;
}

.hidden{
  display: none;
}



.text-justify{
  text-align: justify;
}

.text-center{
  text-align: center;
}

#ecoleactive{
  background-color: #009ee76e;
  color: black;
  border-radius: 50%;
}

#ongletactif{
  background-color: #009ee76e;
  color: black;
  border-radius: 50%;
}

#sectionactive{
  text-decoration: underline; 
}