*{
    margin: 0;
    padding: 0;
    color: white;
}

@font-face{
    font-family: 'STARGATE';
    src: url('polices/STARGATE.TTF');
}

html {
    background: url("pictures/repeat.jpg") repeat ;
    background-size: 100px 100px;
}

body{
    max-width: 1280px;
    margin: 0 auto;
}

header {
    max-width:  1280px;
    height: 400px;
    background: url("pictures/profil.jpg") no-repeat;
    background-size: 100%;
    overflow:hidden;
    display: block;
    margin: 0 auto;
    
}

#banniere {
    display: inline-block;
    width:328px;
    height: 40px;
    background: url("pictures/all title.png");
    position: relative;
    top: 360px /*-80%*/;
}

p {
    height: 1000px;
}

nav{
    max-width: 100%;
}

a h1{
    color: white;
}

.mainmenu {
    text-align: center;
    font-family: "ff-din-web-pro-1", "ff-din-web-pro-2", sans-serif;
    width: 100%;
    list-style-type: none;
}

.mainmenu li{
    text-transform: uppercase;
    display: inline-block;
    min-width: 100px;
    text-align: left;
    font-weight: bold;
}

.mainmenu li a:link{
    text-decoration: none;
}

.miniMenu{
    position: absolute;
}
.miniMenu li{
    width: 100%;
    min-width: unset;
}

.temoin{
    position: fixed;
    top: 0px;
    right: 0px;
}

.transition{
    transition: all 0.5s ease-in-out;
}
.transition:hover{
    margin-left: 10px;
    margin-left-value: 10px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical; 

}